*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #AAAAAA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.container{
    width: calc(100% - 2rem);
    padding: 1rem;
    gap: 1rem;
    background-color: black;
    box-shadow: 0 0 1rem;
    display: flex;
}

.container-coluna{
    flex: 1;
    width: calc(100% - 2rem);
    background-color: white;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagem{
    max-width: 100%;
    max-height: 100%;
}

.nome{
    font-size: 1.5rem;
}

.paragrafo{
    color: #666666;
}

.container-linck{
    width: calc(100vw - 2rem);
    gap: 1rem;
    display: flex;
}

.linck{
    flex: 1;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #DDDDDD;
    background-color: #0073B1;
    padding: 1rem;
    transition: backgrond-color 0.3s;
}
.linck:hover {
    color: black;
    background-color: blanchedalmond;
}
.rodape{
    width: calc(100vw - 4rem);
    box-shadow: 0 0 1rem;
    color: black;
    background-color: yellowgreen;
    padding: 1rem;
}

   