body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.conteirner-img{
   text-align: center;
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px 
}
.nome{
font-size: 24px;
margin: 10px 0 ;
}
.paragrafo{
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}
.linck{
display: flex;
justify-content: center;
gap: 10px;
text-decoration: none;
color: #fff;
background-color: #0073b1;
padding: 10px 20px;
border-radius: 5px;
transition: backgrond-color 0.3s;
 
}
.linck :hover {
    background-color: blanchedalmond;
}

   